    * {
        font-family: 'Museo Sans Cyrl', sans-serif;
    }
    
    .container {
        max-width: 950px;
        margin: 0 auto;
    }
    
    @import 'blocks/header';
    @import 'blocks/promo';
    @import 'blocks/buttons';
    @import 'blocks/odds';
    @import 'blocks/titles';
    @import 'blocks/consultation';
    @import 'blocks/forms';
    @import 'blocks/carousel';
    @import 'blocks/catalog';
    @import 'blocks/review';
    @import 'blocks/footer';
    @import 'base/var';
    @import 'media/media';