.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 54px;
        background: #FFFFFF;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 14px;
        color: #4B4B4B;
        outline: none;
        transition: 0.3s all;
        &:hover {
            box-shadow: 3px 3px 20px #fff;
            transform: translate(-3px, -3px);
        }
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
}