.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        span {
            display: block;
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
        }
    }
    &__phone {
        font-size: 18px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}