.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../img/bg/main-bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        margin-top: 60px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 110px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        img {
            margin: 0 auto;
            display: block;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        margin-top: 8px;
        a {
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}